extends ../layout/index
block contenido
    main.contenido.mt-5.px-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta elit at ipsum tempus, ac efficitur nunc luctus. Aliquam quis egestas nulla, vel hendrerit dui. Nullam placerat est lectus, in tincidunt neque elementum laoreet. Vestibulum sit amet aliquet odio. 
                p Vivamus sollicitudin nisi in venenatis euismod. Proin feugiat mi urna, sed pharetra magna efficitur vel. Duis a tempor eros. Proin bibendum at massa eget dapibus. Fusce et ornare lacus, a sagittis nibh. Aliquam quis ante vel turpis luctus fermentum non vitae nisl. Phasellus cursus non magna non consectetur. Suspendisse non maximus nisl.
                p Nulla et tortor quis enim lobortis finibus. Donec vehicula sapien at sapien volutpat pretium. Sed magna risus, vestibulum sed arcu eu, tincidunt convallis nisl. Nunc facilisis, orci non consectetur tempor, mauris risus imperdiet libero, sit amet suscipit felis nunc et eros. Praesent quis nisi metus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Icono de seguridad")
                    h2.mb-4 Seguridad
                    p Nunc facilisis, orci non consectetur tempor, mauris risus imperdiet libero, sit amet suscipit felis nunc et eros. Praesent quis nisi metus.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Icono de destinos")
                    h2.mb-4 Mejores destinos
                    p Nunc facilisis, orci non consectetur tempor, mauris risus imperdiet libero, sit amet suscipit felis nunc et eros. Praesent quis nisi metus.

                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="Icono de precio")
                    h2.mb-4 Mejor precio
                    p Nunc facilisis, orci non consectetur tempor, mauris risus imperdiet libero, sit amet suscipit felis nunc et eros. Praesent quis nisi metus.
